boker-tov-edited.json
{
  "name": "Boker Tov",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c22345ad-faab-4054-96c9-561a847d8284",
      "name": "Telegram Trigger",
      "webhookId": "019df5e5-c784-435b-980c-1fe3ea4d7366",
      "credentials": {
        "telegramApi": {
          "id": "wZ0iPy5aofKLi2qy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Parse Reply').first().json.safeText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        192
      ],
      "id": "32343950-94f1-4c14-890f-0aa7dbdd4b2f",
      "name": "Send a text message",
      "webhookId": "9750b3b6-08fd-4e42-9f9d-a22cc75f876b",
      "credentials": {
        "telegramApi": {
          "id": "wZ0iPy5aofKLi2qy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "={{ $('Read Context').first().json.stdout }}\n{{ $('Session Logic').first().json.isNew ?\n`--- סשן חדש ---\nזהו סשן חדש. ברך את יהודה בקצרה, והתייחס במשפט אחד למה שקרה בסשן הקודם לפי הדיג'סט (אם יש בו תוכן ממשי). אם יש הערות למחר — הזכר אותן.\nדיג'סט הסשן הקודם:\n` + $('Write State').first().json.stdout + `\nהערות להיום: ` + $('Session Logic').first().json.tomorrowNotes\n: '' }}\n{{ $('Flow Prompt').first().json.flowBlock }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1456,
        0
      ],
      "id": "b3892c02-cd85-409f-a9bf-7d206c574cdf",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "9r5TL9Hz8JzjpcdQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "command": "cat ~/agent/state.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "3c4ec8a1-5355-45ac-bf11-59c5bcd0a98e",
      "name": "Read State"
    },
    {
      "parameters": {
        "jsCode": "const state = JSON.parse($input.first().json.stdout);\nconst now = new Date();\nconst il = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Jerusalem' });\nconst today = il.format(now); // YYYY-MM-DD\n\nconst isNew = state.session.status === 'ended';\n\nif (isNew) {\n  const lastDate = state.last_session.ended_at\n    ? il.format(new Date(state.last_session.ended_at)) : null;\n  state.session.number = (lastDate === today) ? state.session.number + 1 : 1;\n  state.session.status = 'active';\n  state.session.started_at = now.toISOString();\n  state.flow = { position: null, current_task: null, timer: null, frozen: false };\n}\nstate.session.last_message_at = now.toISOString();\n\nreturn [{\n  json: {\n    isNew,\n    archiveFile: state.last_session.archive_file || '',\n    tomorrowNotes: state.last_session.tomorrow_notes || '',\n    stateB64: Buffer.from(JSON.stringify(state, null, 2)).toString('base64')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "10160c13-7a59-4beb-91ee-8450a7a4e61e",
      "name": "Session Logic"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.stateB64 }}\" | base64 -d > ~/agent/state.json\nif [ \"{{ $json.isNew }}\" = \"true\" ]; then\n  echo \"# סשן — $(TZ=Asia/Jerusalem date '+%Y-%m-%d %H:%M')\" > ~/agent/today.md\n  if [ -n \"{{ $json.archiveFile }}\" ]; then\n    sed '/<!-- RAW-LOG -->/q' ~/agent/\"{{ $json.archiveFile }}\"\n  fi\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "838d0903-6073-46fb-9c89-24bcdab1a39d",
      "name": "Write State"
    },
    {
      "parameters": {
        "command": "cat /home/ubuntu/agent/core/*.md /home/ubuntu/agent/today.md 2>/dev/null"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "bfe5bbeb-2a1f-4fbf-9b0d-072419ab45d0",
      "name": "Read Context"
    },
    {
      "parameters": {
        "command": "=cat >> /home/ubuntu/agent/today.md << 'BOKEREOF'\n\n### {{ $now.setZone('Asia/Jerusalem').toFormat('HH:mm') }}\nיהודה: {{ $('Telegram Trigger').item.json.message.text }}\nבוקר טוב: {{ $('Parse Reply').first().json.cleanText }}\nBOKEREOF"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1440,
        192
      ],
      "id": "05d25739-1331-4947-b7e7-b33273b04ad0",
      "name": "Append Log"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9346a890-5cdf-4b7b-85c3-2bfb000a3258",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "סיים יום",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8b6e38cc-d88f-4197-b38a-7d6785323f08",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "נגמר להיום",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "e5ef56e4-d539-4a8f-89f8-6d1b38ae4a37",
      "name": "Is End Day"
    },
    {
      "parameters": {
        "command": "cat ~/agent/state.json; echo \"---SPLIT---\"; cat ~/agent/today.md"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        -176
      ],
      "id": "4e17afb2-8f99-43d3-8370-e5784137d275",
      "name": "Read For Archive"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'צור סיכום מובנה בעברית של יומן הסשן הבא. פורמט מרקדאון עם הכותרות בדיוק: ## סיכום (2-4 שורות), ## הישגים (רשימה, או \"אין\"), ## החלטות (רשימה, או \"אין\"), ## הערות למחר (רשימה, או \"אין\"). אל תוסיף שום דבר מעבר לזה.\\n\\nהיומן:\\n' + $('Read For Archive').first().json.stdout.split('---SPLIT---')[1] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        624,
        -176
      ],
      "id": "c5fb45c2-4c0d-4215-b2cb-4b5c10e5b1c1",
      "name": "Digest Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9r5TL9Hz8JzjpcdQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "command": "=if [ \"{{ $json.active }}\" = \"true\" ]; then\n  echo \"{{ $json.archiveB64 }}\" | base64 -d > ~/agent/\"{{ $json.fname }}\"\n  echo \"{{ $json.stateB64 }}\" | base64 -d > ~/agent/state.json\n  > ~/agent/today.md\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1392,
        -176
      ],
      "id": "de0a917a-f73d-411f-b74a-8a953e712cb4",
      "name": "Write Archive"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Prepare Archive').first().json.active ? 'הסשן נסגר ונשמר בארכיון. נתראה בסשן הבא 👋' : 'אין סשן פעיל לסגור.' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -176
      ],
      "id": "b609f703-7fa4-4f63-8a1a-f44b4d762fe1",
      "name": "Confirm End",
      "webhookId": "ce079da9-0710-4bfb-8639-5bde6d4f61b5",
      "credentials": {
        "telegramApi": {
          "id": "wZ0iPy5aofKLi2qy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Read For Archive').first().json.stdout.split('---SPLIT---');\nconst state = JSON.parse(raw[0]);\nconst log = raw[1].trim();\nconst digest = $input.first().json.text || $input.first().json.content?.parts?.[0]?.text || '';\n\nconst active = state.session.status === 'active';\nconst now = new Date();\nconst il = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Jerusalem' });\nconst fname = `archive/${il.format(now)}-session${state.session.number}.md`;\n\nif (active) {\n  state.session.status = 'ended';\n  state.last_session.archive_file = fname;\n  state.last_session.ended_at = now.toISOString();\n  state.last_session.tomorrow_notes = '';\n}\n\nconst archive = digest.trim() + '\\n\\n<!-- RAW-LOG -->\\n\\n' + log + '\\n';\n\nreturn [{\n  json: {\n    active,\n    fname,\n    archiveB64: Buffer.from(archive).toString('base64'),\n    stateB64: Buffer.from(JSON.stringify(state, null, 2)).toString('base64')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -176
      ],
      "id": "c50d28e4-7623-4529-a5a3-7e401da39f1c",
      "name": "Prepare Archive"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet text = resp.text || resp.content?.parts?.[0]?.text || '';\n\nconst markers = { pos: null, logs: [], freeze: false, unfreeze: false, rejected: [] };\ntext = text.replace(/\\[\\[POS:\\s*(\\S+?)\\s*\\]\\]/g, (_, p) => { markers.pos = p; return ''; });\ntext = text.replace(/\\[\\[LOG:\\s*(.+?)\\s*\\]\\]/g, (_, l) => {\n  const we = l.match(/^\\s*window_end\\s*=\\s*(.+?)\\s*$/);\n  if (we) {\n    const v = we[1].trim();\n    const m = v.match(/^([01]?\\d|2[0-3])(?::([0-5]\\d))?$/); // H, HH, H:MM, HH:MM\n    if (m) {\n      markers.logs.push(`window_end=${m[1].padStart(2, '0')}:${m[2] || '00'}`);\n    } else {\n      markers.rejected.push(`window_end=${v}`);\n    }\n  } else {\n    markers.logs.push(l);\n  }\n  return '';\n});\ntext = text.replace(/\\[\\[FREEZE\\]\\]/g, () => { markers.freeze = true; return ''; });\ntext = text.replace(/\\[\\[UNFREEZE\\]\\]/g, () => { markers.unfreeze = true; return ''; });\ntext = text.trim();\n\n// Telegram MarkdownV2 breaks on unescaped special chars; strip the offenders.\nconst safeText = text.replace(/[_*\\[\\]()~`>#+=|{}]/g, '');\n\nreturn [{\n  json: {\n    cleanText: text,\n    safeText: safeText,\n    hasUpdate: markers.pos !== null || markers.logs.length > 0 || markers.freeze || markers.unfreeze,\n    pos: markers.pos,\n    freeze: markers.freeze,\n    unfreeze: markers.unfreeze,\n    rejectedWindowEnd: markers.rejected.join(', '),\n    logsB64: Buffer.from(markers.logs.join('\\n')).toString('base64')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        0
      ],
      "id": "bc08ca91-aab3-41cf-ac06-d51ad260b4da",
      "name": "Parse Reply"
    },
    {
      "parameters": {
        "command": "=if [ \"{{ $('Parse Reply').first().json.hasUpdate }}\" = \"true\" ]; then\n  python3 - << 'PYEOF'\nimport json, pathlib, base64, datetime\n\nstate_path = pathlib.Path('/home/ubuntu/agent/state.json')\nstate = json.loads(state_path.read_text(encoding='utf-8'))\nchanged = False\n\npos = \"{{ $('Parse Reply').first().json.pos }}\"\nif pos and pos != \"null\":\n    state['flow']['position'] = None if pos == 'done' else int(pos)\n    changed = True\n\nif \"{{ $('Parse Reply').first().json.freeze }}\" == \"true\":\n    state['flow']['frozen'] = True\n    changed = True\n\nif \"{{ $('Parse Reply').first().json.unfreeze }}\" == \"true\":\n    state['flow']['frozen'] = False\n    changed = True\n\nlogs_raw = base64.b64decode(\"{{ $('Parse Reply').first().json.logsB64 }}\").decode('utf-8')\nif logs_raw.strip():\n    with open('/home/ubuntu/agent/today.md', 'a', encoding='utf-8') as f:\n        f.write('\\n' + logs_raw + '\\n')\n    \n    for line in logs_raw.strip().split('\\n'):\n        if '=' in line:\n            parts = line.split('=', 1)\n            k, v = parts[0].strip(), parts[1].strip()\n            if k == 'first_task':\n                state['flow']['current_task'] = v\n                changed = True\n            elif k == 'timer_minutes':\n                try:\n                    mins = int(v)\n                    now = datetime.datetime.now(datetime.timezone.utc)\n                    ends = now + datetime.timedelta(minutes=mins)\n                    state['flow']['timer'] = {\n                        'task': state['flow'].get('current_task') or 'First Task',\n                        'minutes': mins,\n                        'started_at': now.isoformat(),\n                        'ends_at': ends.isoformat(),\n                        'active': True\n                    }\n                    changed = True\n                except Exception:\n                    pass\n            elif k == 'timer_cancel':\n                state['flow']['timer'] = None\n                changed = True\n\nif changed:\n    state_path.write_text(json.dumps(state, indent=2, ensure_ascii=False), encoding='utf-8')\nPYEOF\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2016,
        0
      ],
      "id": "1a4f23f8-42ee-4a83-8776-83555b59054c",
      "name": "Apply State"
    },
    {
      "parameters": {
        "jsCode": "// Read flow from the POST-Session-Logic state, not the raw on-disk Read State.\n// On a NEW session, Session Logic resets flow to {position:null,frozen:false};\n// reading Read State here would leak the previous (ended) session's position/frozen.\nconst state = JSON.parse(Buffer.from($('Session Logic').first().json.stateB64, 'base64').toString('utf-8'));\nconst flow = state.flow || { position: null, current_task: null, timer: null, frozen: false };\nconst pos = flow.position;\nconst frozen = flow.frozen;\nconst timer = flow.timer;\n\nconst keys = `הערה על מרקרים: המרקרים [[POS: N]], [[POS: done]], [[LOG: key=value]], [[FREEZE]], [[UNFREEZE]] הם חובה — עליך לכתוב אותם בסוף ההודעה כשמתאים, הם המנגנון שמניע את הזרימה. הם מוסרים אוטומטית לפני שיהודה רואה את ההודעה, אז אל תדאג שהוא יראה אותם. מפתחות מותרים ל-[[LOG]]: window_end, meds, tired, emotional, parked, project, first_task, day_list, timer_minutes, timer_cancel.\nאימות window_end: הערך חייב להיות שעה תקינה בפורמט 24 שעות (00:00 עד 23:59), למשל 17:30 או 9:00. אם יהודה נותן ערך שאינו שעה תקינה (כמו \"117\" או \"25:00\") — אל תרשום [[LOG: window_end=...]], בקש ממנו בעדינות להבהיר את השעה, ואל תתקדם לשאלה הבאה עד שיש שעה תקינה.`;\n\nconst tone = `\n--- טון ---\nדבר ישיר, מדוד וחברי — אבל בלי התלהבות מזויפת. אסור סופרלטיבים (\"מעולה\", \"מדהים\", \"וואו\", \"איזה יופי\", \"כל הכבוד\") ואסור לפתוח תשובה בשבח או להחמיא סתם. אם יהודה עשה משהו, התייחס עניינית ולא בהתפעלות. אמן טוב מאתגר, משקף ושואל — לא מריע. חום כן, חנופה לא.`;\n\nlet block;\nif (timer && timer.active) {\n  block = `--- מצב טיימר פעיל ---\nרשת הטיימר פועלת כרגע למשימה: \"${timer.task || flow.current_task || 'משימה'}\".\n- אם יהודה כותב שהוא סיים (\"סיימתי\" / \"גמרתי\" / \"done\"): אשר בקצרה, רשום [[LOG: timer_cancel]], ושאל אם הוא רוצה לעבור למשימה הבאה או לקחת הפסקה.\n- אם יהודה מציין בעיה או מבקש עזרה: הגב כמאמן, עזור לשחרר חסמים או לפרק את המשימה. ` + keys;\n} else if (pos === null && !frozen) {\n  block = `--- בקרת זרימה ---\nאינך נמצא כרגע בצ'ק-אין.\n- אם יהודה מאשר שהוא מוכן להתחיל צ'ק-אין (או אומר היי/בוקר טוב בסשן חדש): שאל את שאלה 1 מ-core/morning-flow.md (חלון עבודה), וסיים עם המרקר [[POS: 1]].\n- אם יהודה מבקש להיזכר במשהו (\"תזכיר לי...\", \"מה עשינו ב...\"): חפש בסיכומים ובקבצים והשב עניינית. ` + keys;\n} else if (frozen) {\n  block = `--- בקרת זרימה: הזרימה מוקפאת ---\nהצ'ק-אין הוקפא בשאלה מספר ${pos} כי יהודה לא היה מסוגל להמשיך.\n- קבל אותו בחזרה בחום, בלי לחץ. אל תזרז.\n- אם הוא מראה שהוא מוכן להמשיך עכשיו — חזור לאותה שאלה מספר ${pos} (בלי לדלג), וסיים עם המרקר [[UNFREEZE]] בלבד. אל תוסיף [[POS]] — המיקום נשאר ${pos}.\n- אם הוא עדיין לא מסוגל (עייף, תקוע, צריך עוד זמן) — תן לגיטימציה מלאה, הישאר מוקפא, אל תוסיף שום מרקר.\n- אם הוא רוצה לדבר על משהו אחר — פשוט תהיה נוכח ותקשיב, הישאר מוקפא. ` + keys;\n} else {\n  block = `--- בקרת זרימה: צ'ק-אין בוקר (שאלה ${pos} מתוך 11) ---\nאתה מנהל את צ'ק-אין הבוקר. אתה נמצא בשאלה מספר ${pos}.\n- המיקום בזרימה נקבע אך ורק לפי המספר ${pos}. אם היסטוריית השיחה נראית סותרת — התעלם, המספר קובע.\n- השאלות לפי הסדר מ-core/morning-flow.md:\n  1. חלון עבודה -> [[LOG: window_end=HH:MM]] -> עוברים ל-[[POS: 2]]\n  2. ריטלין -> [[LOG: meds=yes/no]] -> עוברים ל-[[POS: 3]]\n  3. עייפות -> אם עייף ולא מסוגל לעבוד -> לגיטימציה מלאה למנוחה + [[FREEZE]] (ללא [[POS]]). אחרת -> [[LOG: tired=no/yes]] -> עוברים ל-[[POS: 4]]\n  4. רגשי -> תמיכה קלה, או הפניה למטפל אם כבד. אם תקוע -> [[FREEZE]]. אחרת -> עוברים ל-[[POS: 5]]\n  5. נושא פתוח -> לסגור עכשיו -> [[FREEZE]]. לדחות -> [[LOG: parked=topic]] -> עוברים ל-[[POS: 6]]\n  6. פרויקט -> נהל מול core/projects.md -> [[LOG: project=name]] -> עוברים ל-[[POS: 7]]\n  7. המשימה הראשונה -> חדד לצעד קונקרטי, וודא ≤30 דקות -> [[LOG: first_task=text]] -> עוברים ל-[[POS: 8]]\n  8. רשימת היום -> תפיסה מעורפלת -> [[LOG: day_list=text]] -> עוברים ל-[[POS: 9]]\n  9. סקירת אתמול -> סקור בקצרה מסיכום אתמול/סשן קודם -> עוברים ל-[[POS: 10]]\n  10. שער השלמות -> מוכנות לעבוד מתוך הנאה (מנדט כפול) -> עוברים ל-[[POS: 11]]\n  11. משך ומוכנות -> שאל כמה זמן (בדוק מוכנות \"מוכן להתחיל?\") -> [[LOG: timer_minutes=N]] + [[POS: done]]\n\n- כשיהודה עונה, תן תגובה קצרה ואנושית כמאמן, שאל את שאלה ${pos}, וסיים עם המרקר המתאים. ` + keys;\n}\n\nreturn [{ json: { flowBlock: block + tone } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "39943f9a-b8aa-42f1-87fd-93387c95031c",
      "name": "Flow Prompt"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "f1a2b3c4-timer-cron-trigger",
      "name": "Timer Cron Trigger"
    },
    {
      "parameters": {
        "command": "python3 - << 'PYEOF'\nimport json, pathlib, datetime, urllib.request, urllib.parse\n\nstate_path = pathlib.Path('/home/ubuntu/agent/state.json')\nif not state_path.exists():\n    exit(0)\n\nstate = json.loads(state_path.read_text(encoding='utf-8'))\ntimer = state.get('flow', {}).get('timer')\n\nif timer and timer.get('active'):\n    ends_at_str = timer.get('ends_at')\n    if ends_at_str:\n        ends_at = datetime.datetime.fromisoformat(ends_at_str)\n        now = datetime.datetime.now(datetime.timezone.utc)\n        if now >= ends_at:\n            timer['active'] = False\n            state_path.write_text(json.dumps(state, indent=2, ensure_ascii=False), encoding='utf-8')\n            msg = f\"⏰ הטיימר למשימה \\\"{timer.get('task', 'המשימה')}\\\" הסתיים! איך הולך? סיימת?\"\n            print(msg)\nPYEOF"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        400
      ],
      "id": "f1a2b3c4-check-timer-state",
      "name": "Check Active Timer"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        416,
        400
      ],
      "id": "f1a2b3c4-google-calendar",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarOAuth2",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is End Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State": {
      "main": [
        [
          {
            "node": "Session Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Logic": {
      "main": [
        [
          {
            "node": "Write State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write State": {
      "main": [
        [
          {
            "node": "Read Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Context": {
      "main": [
        [
          {
            "node": "Flow Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is End Day": {
      "main": [
        [
          {
            "node": "Read For Archive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read For Archive": {
      "main": [
        [
          {
            "node": "Digest Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digest Model": {
      "main": [
        [
          {
            "node": "Prepare Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Archive": {
      "main": [
        [
          {
            "node": "Confirm End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Archive": {
      "main": [
        [
          {
            "node": "Write Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply": {
      "main": [
        [
          {
            "node": "Apply State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply State": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timer Cron Trigger": {
      "main": [
        [
          {
            "node": "Check Active Timer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "53889b30-f0d2-4bc5-b5cd-6f54229521ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0afa8e181d8b23c1f764904a1a431aee71c5c2e1ee354237545b1473685171e0"
  },
  "nodeGroups": [],
  "id": "D4Iy8vHeUPpCGuzA",
  "tags": []
}