n8n-workflows/D4Iy8vHeUPpCGuzA.json
{"updatedAt":"2026-07-20T09:18:11.139Z","createdAt":"2026-07-09T08:49:22.675Z","id":"D4Iy8vHeUPpCGuzA","name":"Boker Tov","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[0,0],"id":"c22345ad-faab-4054-96c9-561a847d8284","name":"Telegram Trigger","webhookId":"019df5e5-c784-435b-980c-1fe3ea4d7366","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.content.parts[0].text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[768,0],"id":"32343950-94f1-4c14-890f-0aa7dbdd4b2f","name":"Send a text message","webhookId":"9750b3b6-08fd-4e42-9f9d-a22cc75f876b","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"builtInTools":{},"options":{"systemMessage":"={{ $json.stdout }}"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[416,0],"id":"b3892c02-cd85-409f-a9bf-7d206c574cdf","name":"Message a model","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"9r5TL9Hz8JzjpcdQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"command":"cat /home/ubuntu/agent/core/*.md /home/ubuntu/agent/today.md 2>/dev/null"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[208,0],"id":"bfe5bbeb-2a1f-4fbf-9b0d-072419ab45d0","name":"Execute Command"},{"parameters":{"command":"=cat >> /home/ubuntu/agent/today.md << 'BOKEREOF'\n\n### {{ $now.setZone('Asia/Jerusalem').toFormat('HH:mm') }}\nיהודה: {{ $('Telegram Trigger').item.json.message.text }}\nבוקר טוב: {{ $('Message a model').item.json.content.parts[0].text }}\nBOKEREOF"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[852,0],"id":"05d25739-1331-4947-b7e7-b33273b04ad0","name":"Execute Command1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"51e624f8-15a5-49f8-9ccd-877f6017e95e","activeVersionId":"8c3387c4-d9f0-4451-8620-ca2e88db0012","versionCounter":26,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-09T08:49:22.678Z","createdAt":"2026-07-09T08:49:22.678Z","role":"workflow:owner","workflowId":"D4Iy8vHeUPpCGuzA","projectId":"ScrzOoiASCXR0RLr","project":{"updatedAt":"2026-07-09T08:44:04.368Z","createdAt":"2026-07-09T08:15:39.970Z","id":"ScrzOoiASCXR0RLr","name":"Yehuda Livne <yehudalivne@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"98198fe4-bbce-4b17-97ae-bd4e1f67945e"}}],"versionMetadata":{"name":null,"description":null}}