n8n-workflows/D4Iy8vHeUPpCGuzA.json
{"updatedAt":"2026-07-22T09:49:19.695Z","createdAt":"2026-07-09T08:49:22.675Z","id":"D4Iy8vHeUPpCGuzA","name":"Boker Tov","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[1456,128],"id":"3b7f35df-f4fd-4316-a03f-9f3688689aab","name":"Telegram Trigger","webhookId":"019df5e5-c784-435b-980c-1fe3ea4d7366","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Parse Reply').first().json.safeText }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,320],"id":"40f090c0-c540-4110-a1bf-03b5c67f5198","name":"Send a text message","webhookId":"9750b3b6-08fd-4e42-9f9d-a22cc75f876b","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3.1-flash-lite","mode":"list","cachedResultName":"models/gemini-3.1-flash-lite"},"messages":{"values":[{"content":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"builtInTools":{},"options":{"systemMessage":"={{ $('Read Context').first().json.stdout }}\n{{ $('Session Logic').first().json.isNew ?\n`--- סשן חדש ---\nזהו סשן חדש. ברך את יהודה בקצרה, והתייחס במשפט אחד למה שקרה בסשן הקודם לפי הדיג'סט (אם יש בו תוכן ממשי). אם יש הערות למחר — הזכר אותן.\nדיג'סט הסשן הקודם:\n` + $('Write State').first().json.stdout + `\nהערות להיום: ` + $('Session Logic').first().json.tomorrowNotes\n: '' }}\n{{ $('Flow Prompt').first().json.flowBlock }}"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[2912,128],"id":"296b5039-d36b-4bf0-99bc-312bca2f9306","name":"Message a model","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"9r5TL9Hz8JzjpcdQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"command":"cat ~/agent/state.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1872,128],"id":"60e8a726-5b81-4c7f-8d2e-f050166ce905","name":"Read State"},{"parameters":{"jsCode":"const state = JSON.parse($input.first().json.stdout);\nconst now = new Date();\nconst il = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Jerusalem' });\nconst today = il.format(now); // YYYY-MM-DD\n\nconst incomingChatId = $('Telegram Trigger').item.json?.message?.chat?.id;\nif (incomingChatId) {\n  state.session.chat_id = incomingChatId;\n}\n\nconst isNew = state.session.status === 'ended';\n\nif (isNew) {\n  const lastDate = state.last_session.ended_at\n    ? il.format(new Date(state.last_session.ended_at)) : null;\n  state.session.number = (lastDate === today) ? state.session.number + 1 : 1;\n  state.session.status = 'active';\n  state.session.started_at = now.toISOString();\n  state.flow = { position: null, current_task: null, timer: null, frozen: false };\n}\nstate.session.last_message_at = now.toISOString();\n\nreturn [{\n  json: {\n    isNew,\n    archiveFile: state.last_session.archive_file || '',\n    tomorrowNotes: state.last_session.tomorrow_notes || '',\n    stateB64: Buffer.from(JSON.stringify(state, null, 2)).toString('base64')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,128],"id":"ba6b3830-cbfb-4057-88cc-e80ae3242d03","name":"Session Logic"},{"parameters":{"command":"=echo \"{{ $json.stateB64 }}\" | base64 -d > ~/agent/state.json\nif [ \"{{ $json.isNew }}\" = \"true\" ]; then\n  echo \"# סשן — $(TZ=Asia/Jerusalem date '+%Y-%m-%d %H:%M')\" > ~/agent/today.md\n  if [ -n \"{{ $json.archiveFile }}\" ]; then\n    sed '/<!-- RAW-LOG -->/q' ~/agent/\"{{ $json.archiveFile }}\"\n  fi\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2288,128],"id":"b710f70f-9ffe-4ddc-a468-096fd6b62da8","name":"Write State"},{"parameters":{"command":"cat /home/ubuntu/agent/core/*.md /home/ubuntu/agent/today.md 2>/dev/null; echo \"\"; echo \"--- ARCHIVE DIGESTS ---\"; head -n 25 /home/ubuntu/agent/archive/*.md 2>/dev/null"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2496,128],"id":"baeb9b5f-c061-443f-936b-961e6502c889","name":"Read Context"},{"parameters":{"command":"=cat >> /home/ubuntu/agent/today.md << 'BOKEREOF'\n\n### {{ $now.setZone('Asia/Jerusalem').toFormat('HH:mm') }}\nיהודה: {{ $('Telegram Trigger').item.json.message.text }}\nבוקר טוב: {{ $('Parse Reply').first().json.cleanText }}\nBOKEREOF\n\npython3 - << 'PYEOF'\nimport datetime\nnow = datetime.datetime.now(datetime.timezone.utc).strftime('%Y-%m-%d %H:%M:%S')\nmsg = \"\"\"{{ $('Telegram Trigger').item.json.message.text }}\"\"\".strip().replace('\n', ' ')\npos = \"{{ $('Parse Reply').first().json.pos }}\"\nline = f\"[{now}] Msg: '{msg}' | Pos: {pos}\\n\"\nwith open('/home/ubuntu/agent/n8n-activity.log', 'a', encoding='utf-8') as f:\n    f.write(line)\nPYEOF"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2896,320],"id":"0fddeb35-7e6d-4eab-ab68-3803211f62b1","name":"Append Log"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9346a890-5cdf-4b7b-85c3-2bfb000a3258","leftValue":"={{ $json.message.text.trim() }}","rightValue":"סיים יום","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8b6e38cc-d88f-4197-b38a-7d6785323f08","leftValue":"={{ $json.message.text.trim() }}","rightValue":"נגמר להיום","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1664,128],"id":"f315cdb8-2ecc-4a45-af8d-c5d1a4955f40","name":"Is End Day"},{"parameters":{"command":"cat ~/agent/state.json; echo \"---SPLIT---\"; cat ~/agent/today.md"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1872,-48],"id":"762cb229-bbf2-4335-9ec9-88c27c03ba87","name":"Read For Archive"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3.1-flash-lite","mode":"list","cachedResultName":"models/gemini-3.1-flash-lite"},"messages":{"values":[{"content":"={{ 'צור סיכום מובנה בעברית של יומן הסשן הבא. פורמט מרקדאון עם הכותרות בדיוק: ## סיכום (2-4 שורות), ## הישגים (רשימה, או \"אין\"), ## החלטות (רשימה, או \"אין\"), ## הערות למחר (רשימה, או \"אין\"). אל תוסיף שום דבר מעבר לזה.\\n\\nהיומן:\\n' + $('Read For Archive').first().json.stdout.split('---SPLIT---')[1] }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[2080,-48],"id":"02fc41e6-56f9-45df-bea7-432ff7506f42","name":"Digest Model","credentials":{"googlePalmApi":{"id":"9r5TL9Hz8JzjpcdQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"command":"=if [ \"{{ $json.active }}\" = \"true\" ]; then\n  echo \"{{ $json.archiveB64 }}\" | base64 -d > ~/agent/\"{{ $json.fname }}\"\n  echo \"{{ $json.stateB64 }}\" | base64 -d > ~/agent/state.json\n  > ~/agent/today.md\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2848,-48],"id":"bcf9fb8f-43af-4b73-8667-c9b3ef36ddf9","name":"Write Archive"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Prepare Archive').first().json.active ? 'הסשן נסגר ונשמר בארכיון. נתראה בסשן הבא 👋' : 'אין סשן פעיל לסגור.' }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3056,-48],"id":"e25aaadb-5d44-4860-97d1-a6b52fd7aca7","name":"Confirm End","webhookId":"ce079da9-0710-4bfb-8639-5bde6d4f61b5","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"jsCode":"const raw = $('Read For Archive').first().json.stdout.split('---SPLIT---');\nconst state = JSON.parse(raw[0]);\nconst log = raw[1].trim();\nconst digest = $input.first().json.text || $input.first().json.content?.parts?.[0]?.text || '';\n\nconst active = state.session.status === 'active';\nconst now = new Date();\nconst il = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Jerusalem' });\nconst fname = `archive/${il.format(now)}-session${state.session.number}.md`;\n\nif (active) {\n  state.session.status = 'ended';\n  state.last_session.archive_file = fname;\n  state.last_session.ended_at = now.toISOString();\n  // Reset flow state on session close\n  state.flow = { position: null, current_task: null, timer: null, frozen: false };\n}\n\nconst archive = digest.trim() + '\\n\\n<!-- RAW-LOG -->' + log + '\\n';\n\nreturn [{\n  json: {\n    active,\n    fname,\n    archiveB64: Buffer.from(archive).toString('base64'),\n    stateB64: Buffer.from(JSON.stringify(state, null, 2)).toString('base64')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,-48],"id":"5be6c47d-0309-4c42-83ab-133f85515e29","name":"Prepare Archive"},{"parameters":{"jsCode":"const resp = $input.first().json;\nlet text = resp.text || resp.content?.parts?.[0]?.text || '';\n\nconst markers = { pos: null, logs: [], freeze: false, unfreeze: false, rejected: [] };\ntext = text.replace(/\\[\\[POS:\\s*(\\S+?)\\s*\\]\\]/g, (_, p) => { markers.pos = p; return ''; });\ntext = text.replace(/\\[\\[LOG:\\s*(.+?)\\s*\\]\\]/g, (_, l) => {\n  const we = l.match(/^\\s*window_end\\s*=\\s*(.+?)\\s*$/);\n  if (we) {\n    const v = we[1].trim();\n    const m = v.match(/^([01]?\\d|2[0-3])(?::([0-5]\\d))?$/); // H, HH, H:MM, HH:MM\n    if (m) {\n      markers.logs.push(`window_end=${m[1].padStart(2, '0')}:${m[2] || '00'}`);\n    } else {\n      markers.rejected.push(`window_end=${v}`);\n    }\n  } else {\n    markers.logs.push(l);\n  }\n  return '';\n});\ntext = text.replace(/\\[\\[FREEZE\\]\\]/g, () => { markers.freeze = true; return ''; });\ntext = text.replace(/\\[\\[UNFREEZE\\]\\]/g, () => { markers.unfreeze = true; return ''; });\ntext = text.trim();\n\n// Telegram MarkdownV2 breaks on unescaped special chars; strip the offenders.\nconst safeText = text.replace(/[_*\\[\\]()~`>#+=|{}]/g, '');\n\nreturn [{\n  json: {\n    cleanText: text,\n    safeText: safeText,\n    hasUpdate: markers.pos !== null || markers.logs.length > 0 || markers.freeze || markers.unfreeze,\n    pos: markers.pos,\n    freeze: markers.freeze,\n    unfreeze: markers.unfreeze,\n    rejectedWindowEnd: markers.rejected.join(', '),\n    logsB64: Buffer.from(markers.logs.join('\\n')).toString('base64')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,128],"id":"ae7ccb06-64ca-4994-9a7b-866087431d7b","name":"Parse Reply"},{"parameters":{"command":"=if [ \"{{ $('Parse Reply').first().json.hasUpdate }}\" = \"true\" ]; then\n  python3 - << 'PYEOF'\nimport json, pathlib, base64, datetime\n\nstate_path = pathlib.Path('/home/ubuntu/agent/state.json')\nstate = json.loads(state_path.read_text(encoding='utf-8'))\nchanged = False\ntrigger_archive = False\n\npos = \"{{ $('Parse Reply').first().json.pos }}\"\nif pos and pos != \"null\":\n    if pos == 'done':\n        state['flow']['position'] = None\n    elif pos == 'archive':\n        state['flow']['position'] = 'archive'\n        trigger_archive = True\n    else:\n        try:\n            state['flow']['position'] = int(pos)\n        except ValueError:\n            state['flow']['position'] = pos\n    changed = True\n\nif \"{{ $('Parse Reply').first().json.freeze }}\" == \"true\":\n    state['flow']['frozen'] = True\n    changed = True\n\nif \"{{ $('Parse Reply').first().json.unfreeze }}\" == \"true\":\n    state['flow']['frozen'] = False\n    changed = True\n\nlogs_raw = base64.b64decode(\"{{ $('Parse Reply').first().json.logsB64 }}\").decode('utf-8')\nif logs_raw.strip():\n    with open('/home/ubuntu/agent/today.md', 'a', encoding='utf-8') as f:\n        f.write('\\n' + logs_raw + '\\n')\n    \n    for line in logs_raw.strip().split('\\n'):\n        if '=' in line:\n            parts = line.split('=', 1)\n            k, v = parts[0].strip(), parts[1].strip()\n            if k == 'first_task':\n                state['flow']['current_task'] = v\n                changed = True\n            elif k == 'tomorrow_notes':\n                state['last_session']['tomorrow_notes'] = v\n                changed = True\n            elif k == 'timer_minutes':\n                try:\n                    mins = int(v)\n                    now = datetime.datetime.now(datetime.timezone.utc)\n                    ends = now + datetime.timedelta(minutes=mins)\n                    state['flow']['timer'] = {\n                        'task': state['flow'].get('current_task') or 'First Task',\n                        'minutes': mins,\n                        'started_at': now.isoformat(),\n                        'ends_at': ends.isoformat(),\n                        'active': True,\n                        'pinged': False\n                    }\n                    changed = True\n                except Exception:\n                    pass\n            elif k == 'timer_cancel':\n                state['flow']['timer'] = None\n                changed = True\n\nif changed:\n    state_path.write_text(json.dumps(state, indent=2, ensure_ascii=False), encoding='utf-8')\n\nprint(json.dumps([{\"json\": {\"triggerArchive\": trigger_archive}}]))\nPYEOF\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[3472,128],"id":"3393d3f4-846d-44bb-9b95-cb3c69c1c098","name":"Apply State"},{"parameters":{"jsCode":"// Read flow from the POST-Session-Logic state, not the raw on-disk Read State.\nconst state = JSON.parse(Buffer.from($('Session Logic').first().json.stateB64, 'base64').toString('utf-8'));\nconst flow = state.flow || { position: null, current_task: null, timer: null, frozen: false };\nconst pos = flow.position;\nconst frozen = flow.frozen;\nconst timer = flow.timer;\n\nconst keys = `הערה על מרקרים: המרקרים [[POS: N]], [[POS: done]], [[POS: archive]], [[LOG: key=value]], [[FREEZE]], [[UNFREEZE]] הם חובה — עליך לכתוב אותם בסוף ההודעה כשמתאים. מפתחות מותרים ל-[[LOG]]: window_end, meds, tired, emotional, parked, project, first_task, day_list, tomorrow_notes, timer_minutes, timer_cancel.`;\n\nconst tone = `\n--- טון ---\nדבר ישיר, מדוד וחברי — אבל בלי התלהבות מזויפת ובלי סופרלטיבים.\nתגובות בצ'ק-אין: תגובות ענייניות וניטרליות בלבד (\"קיבלתי\", \"הבנתי\", \"רשמתי\"). אל תבריק ולא לחלק שבחים על תשובות שגרתיות.\nעידוד מוצדק: שמור עידוד קצר וממוקד לרגעים אמיתיים בלבד — סיום משימה, התגברות על קושי, או סגירת יום.`;\n\nlet block;\nif (timer && timer.active) {\n  if (timer.pinged) {\n    block = `--- מצב מענה לתזכורת טיימר ---\nהטיימר למשימה \"${timer.task}\" הסתיים והודעת תזכורת נשלחה ליהודה.\n- סווג את תשובתו:\n  1. סיימתי / done -> אשר בקצרה, רשום [[LOG: timer_cancel]], ושאל אם לעבור למשימה הבאה או לקחת הפסקה.\n  2. לא סיימתי / צריך עוד X דקות -> אשר עניינית, ורשום [[LOG: timer_minutes=N]] (כאשר N הוא מספר הדקות להאריכו).\n  3. תקוע -> נהל כמאמן, עזור לשחרר חסמים או לפרק את המשימה. ` + keys;\n  } else {\n    block = `--- מצב טיימר פעיל ---\nהטיימר רץ כרגע למשימה: \"${timer.task}\".\n- אם יהודה כותב שהוא סיים (\"סיימתי\" / \"גמרתי\" / \"done\"): אשר בקצרה, רשום [[LOG: timer_cancel]], ושאל מה הצעד הבא.\n- אם יהודה מציין בעיה או מבקש עזרה: הגב כמאמן, עזור לשחרר חסמים או לפרק את המשימה. ` + keys;\n  }\n} else if (pos === 'eod_1') {\n  block = `--- בקרת זרימה: סיכום סוף יום (שלב 1) ---\nסקור את הנושאים הפתוחים שנרשמו כ-parked במהלך היום. שאל את יהודה מה ברצונו לעשות איתם. בסיום רשום [[POS: eod_2]]. ` + keys;\n} else if (pos === 'eod_2') {\n  block = `--- בקרת זרימה: סיכום סוף יום (שלב 2) ---\nעבור על מה שנעשה היום מול מה שתוכנן, והדגש הישגים מרכזיים. בסיום רשום [[POS: eod_3]]. ` + keys;\n} else if (pos === 'eod_3') {\n  block = `--- בקרת זרימה: סיכום סוף יום (שלב 3) ---\nרפלקציה והערות למחר. שאל \"איך היה היום?\" ומה לרשום כהערה לסשן הבא. כשיש תשובה, רשום [[LOG: tomorrow_notes=...]] וסגור את היום ב-[[POS: archive]]. ` + keys;\n} else if (pos === null && !frozen) {\n  block = `--- בקרת זרימה ---\nאינך נמצא כרגע בצ'ק-אין.\n- אם יהודה מנסה להפעיל צ'ק-אין (היי / בוקר טוב / להתחיל צ'ק-אין): שאל את שאלה 1 מ-core/morning-flow.md (חלון עבודה), וסיים עם המרקר [[POS: 1]].\n- אם יהודה אומר \"סיים יום\" / \"נגמר להיום\": אמור משפט פתיחה קצר לסיכום היום, שאל על ה-parked items, וסיים עם המרקר [[POS: eod_1]].\n- אם יהודה מבקש להיזכר במידע (\"תזכיר לי...\", \"מה עשינו ב...\"): עיין בקטע --- ARCHIVE DIGESTS --- ובתשובות הקודמות והשב עניינית. ` + keys;\n} else if (frozen) {\n  block = `--- בקרת זרימה: הזרימה מוקפאת ---\nהצ'ק-אין הוקפא בשאלה מספר ${pos}.\n- קבל אותו בחזרה בחום, בלי לחץ.\n- אם הוא מראה שהוא מוכן להמשיך עכשיו — חזור לאותה שאלה מספר ${pos}, וסיים עם המרקר [[UNFREEZE]] בלבד.\n- אם הוא עדיין לא מסוגל — תן לגיטימציה מלאה, הישאר מוקפא. ` + keys;\n} else {\n  const nextPos = (typeof pos === 'number' && pos < 11) ? pos + 1 : 'done';\n  block = `--- בקרת זרימה: צ'ק-אין בוקר ---\nיהודה משיב כעת על שאלה מספר ${pos} מתוך 11.\n- הנחיות לעיבוד תשובה ${pos}:\n  * אם ${pos} == 1 (חלון עבודה): המר את תשובת השעה (למשל '16' -> '16:00'), פלוט [[LOG: window_end=16:00]], תן אישור ניטרלי קצר, שאל את שאלה 2 (ריטלין), וסיים עם [[POS: 2]].\n  * אם ${pos} == 2 (ריטלין): פלוט [[LOG: meds=yes/no]], תן אישור ניטרלי קצר, שאל את שאלה 3 (עייפות), וסיים עם [[POS: 3]].\n  * אם ${pos} == 3 (עייפות): אם עייף ולא מסוגל -> [[FREEZE]] (ללא [[POS]]). אחרת -> [[LOG: tired=no/yes]], שאל שאלה 4 (רגשי), וסיים עם [[POS: 4]].\n  * אם ${pos} == 4 (רגשי): תמיכה קלה או הפניה למטפל. אם תקוע -> [[FREEZE]]. אחרת -> שאל שאלה 5 (נושא פתוח), וסיים עם [[POS: 5]].\n  * אם ${pos} == 5 (נושא פתוח): לסגור עכשיו -> [[FREEZE]]. לדחות -> [[LOG: parked=topic]], שאל שאלה 6 (פרויקט), וסיים עם [[POS: 6]].\n  * אם ${pos} == 6 (פרויקט): זהה מול core/projects.md -> [[LOG: project=name]], שאל שאלה 7 (משימה ראשונה), וסיים עם [[POS: 7]].\n  * אם ${pos} == 7 (משימה ראשונה): חדד לצעד קונקרטי ≤30 דקות -> [[LOG: first_task=text]], שאל שאלה 8 (רשימת היום), וסיים עם [[POS: 8]].\n  * אם ${pos} == 8 (רשימת היום): תפוס רשימה -> [[LOG: day_list=text]], שאל שאלה 9 (סקירת אתמול), וסיים עם [[POS: 9]].\n  * אם ${pos} == 9 (סקירת אתמול): סקור בקצרה מ-ARCHIVE DIGESTS -> שאל שאלה 10 (שער השלמות), וסיים עם [[POS: 10]].\n  * אם ${pos} == 10 (שער השלמות): מוכנות מתוך הנאה -> שאל שאלה 11 (משך ומוכנות), וסיים עם [[POS: 11]].\n  * אם ${pos} == 11 (משך ומוכנות): פלוט [[LOG: timer_minutes=N]] וסיים עם [[POS: done]].\n\n- הגב בניטרליות (\"הבנתי\", \"רשמתי\"), שאל את שאלה ${nextPos}, וסיים עם המרקר [[POS: ${nextPos}]]. ` + keys;\n}\n\nreturn [{ json: { flowBlock: block + tone } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,128],"id":"99c1f2a3-9357-4b23-be3c-8df9c14ef8ba","name":"Flow Prompt"},{"parameters":{},"type":"n8n-nodes-base.cron","typeVersion":1,"position":[1456,528],"id":"16893248-d8bc-40c4-aace-e2a1f27eef65","name":"Timer Cron Trigger"},{"parameters":{"command":"python3 - << 'PYEOF'\nimport json, pathlib, datetime\n\nstate_path = pathlib.Path('/home/ubuntu/agent/state.json')\nif not state_path.exists():\n    exit(0)\n\nstate = json.loads(state_path.read_text(encoding='utf-8'))\ntimer = state.get('flow', {}).get('timer')\nchat_id = state.get('session', {}).get('chat_id')\n\nif timer and timer.get('active') and not timer.get('pinged') and chat_id:\n    ends_at_str = timer.get('ends_at')\n    if ends_at_str:\n        ends_at = datetime.datetime.fromisoformat(ends_at_str)\n        now = datetime.datetime.now(datetime.timezone.utc)\n        if now >= ends_at:\n            timer['pinged'] = True\n            state_path.write_text(json.dumps(state, indent=2, ensure_ascii=False), encoding='utf-8')\n            msg = f\"⏰ הטיימר למשימה \\\"{timer.get('task', 'המשימה')}\\\" הסתיים! איך הולך? סיימת?\"\n            print(json.dumps([{\"json\": {\"chat_id\": chat_id, \"text\": msg, \"should_send\": True}}]))\n            exit(0)\n\nprint(json.dumps([{\"json\": {\"should_send\": False}}]))\nPYEOF"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1664,528],"id":"eab507a6-79c5-486c-8b2c-1a68dec949e8","name":"Check Active Timer"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1872,528],"id":"42a858b0-7fe6-4274-b1a8-2cf8275a78e1","name":"Send Timer Ping","webhookId":"e5b5df12-4c42-47ad-baba-fab106623674","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[3968,592],"id":"279879a1-31f9-4406-bc61-1992cefee68a","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"ETmrZaq2NC9cOfAu","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"should-send-check","leftValue":"={{ $json.should_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1776,528],"id":"43fa703a-1ed4-4f78-9bec-4f5cc4b179bc","name":"Should Send Ping?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"archive-trigger-check","leftValue":"={{ $json.triggerArchive }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3600,320],"id":"0625f8a5-1880-4edc-bf48-6e070514a086","name":"Check Trigger Archive"},{"parameters":{"jsCode":"const text = ($input.first().json.message?.text || '').trim();\nconst stateStr = $('Read State').first()?.json?.stdout;\nlet inEod = false;\n\nif (stateStr) {\n  try {\n    const state = JSON.parse(stateStr);\n    const pos = state.flow?.position;\n    inEod = pos === 'eod_1' || pos === 'eod_2' || pos === 'eod_3' || pos === 'archive';\n  } catch (e) {}\n}\n\nreturn [{ json: { directArchive: inEod } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-176],"id":"f789bd12-40d0-41c7-8317-7218af7110f6","name":"EOD Mode Router"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1456,736],"id":"883cc45e-eefe-4422-a0bd-f5f49a340a01","name":"Error Trigger"},{"parameters":{"command":"=python3 - << 'PYEOF'\nimport datetime, json\n\nnow = datetime.datetime.now(datetime.timezone.utc).strftime('%Y-%m-%d %H:%M:%S')\nnode_name = \"{{ $json.node.name }}\"\nerr_msg = \"{{ $json.execution.error.message }}\"\n\nline = f\"[{now}] ⚠️ ERROR in '{node_name}': {err_msg}\\n\"\nwith open('/home/ubuntu/agent/n8n-errors.log', 'a', encoding='utf-8') as f:\n    f.write(line)\nPYEOF"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1664,736],"id":"1f1cd9b9-e8f4-4838-b516-3d24b249b23a","name":"Write Local Error Log"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Is End Day","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Parse Reply","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Append Log","type":"main","index":0}]]},"Read State":{"main":[[{"node":"Session Logic","type":"main","index":0}]]},"Session Logic":{"main":[[{"node":"Write State","type":"main","index":0}]]},"Write State":{"main":[[{"node":"Read Context","type":"main","index":0}]]},"Read Context":{"main":[[{"node":"Flow Prompt","type":"main","index":0}]]},"Is End Day":{"main":[[{"node":"Read For Archive","type":"main","index":0}],[{"node":"Read State","type":"main","index":0}]]},"Read For Archive":{"main":[[{"node":"Digest Model","type":"main","index":0}]]},"Digest Model":{"main":[[{"node":"Prepare Archive","type":"main","index":0}]]},"Write Archive":{"main":[[{"node":"Confirm End","type":"main","index":0}]]},"Prepare Archive":{"main":[[{"node":"Write Archive","type":"main","index":0}]]},"Parse Reply":{"main":[[{"node":"Apply State","type":"main","index":0}]]},"Apply State":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Check Trigger Archive","type":"main","index":0}]]},"Flow Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Timer Cron Trigger":{"main":[[{"node":"Check Active Timer","type":"main","index":0}]]},"Check Active Timer":{"main":[[{"node":"Should Send Ping?","type":"main","index":0}]]},"Should Send Ping?":{"main":[[{"node":"Send Timer Ping","type":"main","index":0}]]},"Check Trigger Archive":{"main":[[{"node":"Read For Archive","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Write Local Error Log","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"b8736146-cde8-4588-9576-961ae8405631","activeVersionId":"b8736146-cde8-4588-9576-961ae8405631","versionCounter":133,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-09T08:49:22.678Z","createdAt":"2026-07-09T08:49:22.678Z","role":"workflow:owner","workflowId":"D4Iy8vHeUPpCGuzA","projectId":"ScrzOoiASCXR0RLr","project":{"updatedAt":"2026-07-09T08:44:04.368Z","createdAt":"2026-07-09T08:15:39.970Z","id":"ScrzOoiASCXR0RLr","name":"Yehuda Livne <yehudalivne@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"98198fe4-bbce-4b17-97ae-bd4e1f67945e"}}],"versionMetadata":{"name":"Version b8736146","description":""}}