n8n-workflows/D4Iy8vHeUPpCGuzA.json
{"updatedAt":"2026-07-20T12:35:18.577Z","createdAt":"2026-07-09T08:49:22.675Z","id":"D4Iy8vHeUPpCGuzA","name":"Boker Tov","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[0,0],"id":"c22345ad-faab-4054-96c9-561a847d8284","name":"Telegram Trigger","webhookId":"019df5e5-c784-435b-980c-1fe3ea4d7366","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.content.parts[0].text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,0],"id":"32343950-94f1-4c14-890f-0aa7dbdd4b2f","name":"Send a text message","webhookId":"9750b3b6-08fd-4e42-9f9d-a22cc75f876b","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3.1-flash-lite","mode":"list","cachedResultName":"models/gemini-3.1-flash-lite"},"messages":{"values":[{"content":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"builtInTools":{},"options":{"systemMessage":"={{ $json.stdout }}\n{{ $('Session Logic').first().json.isNew ?\n`--- סשן חדש ---\nזהו סשן חדש. ברך את יהודה בקצרה, והתייחס במשפט אחד למה שקרה בסשן הקודם לפי הדיג'סט (אם יש בו תוכן ממשי). אם יש הערות למחר — הזכר אותן.\nדיג'סט הסשן הקודם:\n` + $('Write State').first().json.stdout + `\nהערות להיום: ` + $('Session Logic').first().json.tomorrowNotes\n: '' }}"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[1248,0],"id":"b3892c02-cd85-409f-a9bf-7d206c574cdf","name":"Message a model","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"9r5TL9Hz8JzjpcdQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"command":"cat ~/agent/state.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[416,0],"id":"3c4ec8a1-5355-45ac-bf11-59c5bcd0a98e","name":"Read State"},{"parameters":{"jsCode":"const state = JSON.parse($input.first().json.stdout);\nconst now = new Date();\nconst il = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Jerusalem' });\nconst today = il.format(now); // YYYY-MM-DD\n\nconst isNew = state.session.status === 'ended';\n\nif (isNew) {\n  const lastDate = state.last_session.ended_at\n    ? il.format(new Date(state.last_session.ended_at)) : null;\n  state.session.number = (lastDate === today) ? state.session.number + 1 : 1;\n  state.session.status = 'active';\n  state.session.started_at = now.toISOString();\n}\nstate.session.last_message_at = now.toISOString();\n\nreturn [{\n  json: {\n    isNew,\n    archiveFile: state.last_session.archive_file || '',\n    tomorrowNotes: state.last_session.tomorrow_notes || '',\n    stateB64: Buffer.from(JSON.stringify(state, null, 2)).toString('base64')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"10160c13-7a59-4beb-91ee-8450a7a4e61e","name":"Session Logic"},{"parameters":{"command":"=echo \"{{ $json.stateB64 }}\" | base64 -d > ~/agent/state.json\nif [ \"{{ $json.isNew }}\" = \"true\" ]; then\n  echo \"# סשן — $(TZ=Asia/Jerusalem date '+%Y-%m-%d %H:%M')\" > ~/agent/today.md\n  if [ -n \"{{ $json.archiveFile }}\" ]; then\n    sed '/<!-- RAW-LOG -->/q' ~/agent/\"{{ $json.archiveFile }}\"\n  fi\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[832,0],"id":"838d0903-6073-46fb-9c89-24bcdab1a39d","name":"Write State"},{"parameters":{"command":"cat /home/ubuntu/agent/core/*.md /home/ubuntu/agent/today.md 2>/dev/null"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1040,0],"id":"bfe5bbeb-2a1f-4fbf-9b0d-072419ab45d0","name":"Read Context"},{"parameters":{"command":"=cat >> /home/ubuntu/agent/today.md << 'BOKEREOF'\n\n### {{ $now.setZone('Asia/Jerusalem').toFormat('HH:mm') }}\nיהודה: {{ $('Telegram Trigger').item.json.message.text }}\nבוקר טוב: {{ $('Message a model').item.json.content.parts[0].text }}\nBOKEREOF"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1792,0],"id":"05d25739-1331-4947-b7e7-b33273b04ad0","name":"Append Log"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9346a890-5cdf-4b7b-85c3-2bfb000a3258","leftValue":"={{ $json.message.text.trim() }}","rightValue":"סיים יום","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8b6e38cc-d88f-4197-b38a-7d6785323f08","leftValue":"={{ $json.message.text.trim() }}","rightValue":"נגמר להיום","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,0],"id":"e5ef56e4-d539-4a8f-89f8-6d1b38ae4a37","name":"Is End Day"},{"parameters":{"command":"cat ~/agent/state.json; echo \"---SPLIT---\"; cat ~/agent/today.md"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[416,-176],"id":"4e17afb2-8f99-43d3-8370-e5784137d275","name":"Read For Archive"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3.1-flash-lite","mode":"list","cachedResultName":"models/gemini-3.1-flash-lite"},"messages":{"values":[{"content":"={{ 'צור סיכום מובנה בעברית של יומן הסשן הבא. פורמט מרקדאון עם הכותרות בדיוק: ## סיכום (2-4 שורות), ## החלטות (רשימה, או \"אין\"), ## הערות למחר (רשימה, או \"אין\"). אל תוסיף שום דבר מעבר לזה.\\n\\nהיומן:\\n' + $('Read For Archive').first().json.stdout.split('---SPLIT---')[1] }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[624,-176],"id":"c5fb45c2-4c0d-4215-b2cb-4b5c10e5b1c1","name":"Digest Model","credentials":{"googlePalmApi":{"id":"9r5TL9Hz8JzjpcdQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"command":"=if [ \"{{ $json.active }}\" = \"true\" ]; then\n  echo \"{{ $json.archiveB64 }}\" | base64 -d > ~/agent/\"{{ $json.fname }}\"\n  echo \"{{ $json.stateB64 }}\" | base64 -d > ~/agent/state.json\n  > ~/agent/today.md\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1184,-176],"id":"de0a917a-f73d-411f-b74a-8a953e712cb4","name":"Write Archive"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Prepare Archive').first().json.active ? 'הסשן נסגר ונשמר בארכיון. נתראה בסשן הבא 👋' : 'אין סשן פעיל לסגור.' }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,-176],"id":"b609f703-7fa4-4f63-8a1a-f44b4d762fe1","name":"Confirm End","webhookId":"ce079da9-0710-4bfb-8639-5bde6d4f61b5","credentials":{"telegramApi":{"id":"wZ0iPy5aofKLi2qy","name":"Telegram account"}}},{"parameters":{"jsCode":"const raw = $('Read For Archive').first().json.stdout.split('---SPLIT---');\nconst state = JSON.parse(raw[0]);\nconst log = raw[1].trim();\nconst digest = $input.first().json.text || $input.first().json.content?.parts?.[0]?.text || '';\n\nconst active = state.session.status === 'active';\nconst now = new Date();\nconst il = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Jerusalem' });\nconst fname = `archive/${il.format(now)}-session${state.session.number}.md`;\n\nif (active) {\n  state.session.status = 'ended';\n  state.last_session.archive_file = fname;\n  state.last_session.ended_at = now.toISOString();\n  state.last_session.tomorrow_notes = '';\n}\n\nconst archive = digest.trim() + '\\n\\n<!-- RAW-LOG -->\\n\\n' + log + '\\n';\n\nreturn [{\n  json: {\n    active,\n    fname,\n    archiveB64: Buffer.from(archive).toString('base64'),\n    stateB64: Buffer.from(JSON.stringify(state, null, 2)).toString('base64')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-176],"id":"c50d28e4-7623-4529-a5a3-7e401da39f1c","name":"Prepare Archive"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Is End Day","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Append Log","type":"main","index":0}]]},"Read State":{"main":[[{"node":"Session Logic","type":"main","index":0}]]},"Session Logic":{"main":[[{"node":"Write State","type":"main","index":0}]]},"Write State":{"main":[[{"node":"Read Context","type":"main","index":0}]]},"Read Context":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Is End Day":{"main":[[{"node":"Read For Archive","type":"main","index":0}],[{"node":"Read State","type":"main","index":0}]]},"Read For Archive":{"main":[[{"node":"Digest Model","type":"main","index":0}]]},"Digest Model":{"main":[[{"node":"Prepare Archive","type":"main","index":0}]]},"Write Archive":{"main":[[{"node":"Confirm End","type":"main","index":0}]]},"Prepare Archive":{"main":[[{"node":"Write Archive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"46557ef6-913a-4e01-8e10-e4ea09b28625","activeVersionId":"46557ef6-913a-4e01-8e10-e4ea09b28625","versionCounter":75,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-09T08:49:22.678Z","createdAt":"2026-07-09T08:49:22.678Z","role":"workflow:owner","workflowId":"D4Iy8vHeUPpCGuzA","projectId":"ScrzOoiASCXR0RLr","project":{"updatedAt":"2026-07-09T08:44:04.368Z","createdAt":"2026-07-09T08:15:39.970Z","id":"ScrzOoiASCXR0RLr","name":"Yehuda Livne <yehudalivne@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"98198fe4-bbce-4b17-97ae-bd4e1f67945e"}}],"versionMetadata":{"name":"Version 46557ef6","description":""}}